{% extends 'main/base.html' %}

{% block content %}

<div class="col-12">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-1">Рассылка номер {{ object.pk }}</h1>
        <p class="lead">Подробное описание рассылки</p>
    </div>
</div>

<div class="col-12 text-center">
    <table class="table table-striped">
        <tr>
            <th>Дата начала</th>
            <th>Дата конца</th>
            <th>Период</th>
            <th>Статус</th>
            <th>Список клиентов</th>
        </tr>
        <tr>
            <td><h4>{{ object.data_begin }}</h4></td>
            <td><h4>{{ object.data_end }}</h4></td>
            <td><h4>{{ object.period }}</h4></td>
            <td><h4>{{ object.status }}</h4></td>
            <td><h4>{% for client_item in object.clients.all %}
                {{ client_item.email }}
                {% endfor %}
            </h4></td>
        </tr>
    </table>
</div>

{% endblock %}